# Pertemuan Ke-6

## Latihan 1

In [4]:
nilai = set ({3,6,9,2,5,7})
nilai.update([1,4,8,10])
print(nilai)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

## Latihan 2

In [13]:
nilai = set ([3,6,9,2,7])
nilai.update([1,4,8,5,10])
print(nilai)
nilai.difference_update([1,3,4,5,7,8,10])
print(nilai)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{2, 6, 9}

## Latihan 3

In [15]:
A = {100, 7, 8}#
B = {200, 4, 5}
C = {300, 2, 3}
D = {100, 200, 300}
print(A & D)
print(B & D)
print(C & D)
print(A & B & C & D)

{100}
{200}
{300}
set()

## Latihan 4

In [18]:
A = {100, 7, 8}
B = {200, 4, 5}
C = {300, 2, 3}
D = {100, 200, 300}
print(A.union(B))
print(B.union(C))
print(B.union(C).union(D))
print(A.union(B).union(C).union(D))

{100, 4, 5, 7, 8, 200}
{2, 3, 4, 5, 200, 300}
{2, 3, 4, 5, 100, 200, 300}
{2, 3, 100, 4, 5, 7, 8, 200, 300}

## Latihan 5

In [24]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))
print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'e', 'b', 'a'}
{'b', 'a', 'e'}
{'b', 'c', 'a', 'd'}
{'d', 'c', 'e'}

## Latihan 6

In [21]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}
print(A.difference(B))
print(B.difference(A))
print(A.difference(C))
print(B.difference(C))

{'b', 'a'}
{'e'}
{'b', 'c', 'a', 'd'}
{'d', 'c', 'e'}